header {
  grid-column: 1 / span 6;
  grid-row: 1;
  border-bottom: 3px solid gray;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.nav-item {
  width: 22%;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  float: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-item :hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.8);
}

.image-container {
display: flex;
margin-top: 20px;
}

img {
  width: 100%;
  height: auto;
}

.selected-image {
  border: 5px solid #21be008a;
}

.nav-item a {
  text-align: center;
}

@media (max-width: 1000px) {
  .nav-item {
    width: 46%;
  }
}
@media (max-width: 750px) {
  .nav-item {
    width: 100%;
  }
}

.author {
  display: block;
  background: #dee2e6;
  padding: 12px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.search {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: 10px;
}

.selected-images {
  padding-top: 1rem;
}

.table-caption {
  margin-top: 40px;
  color: #6c757d;
  font-weight: 500;
}
